[submodule "five-seconds-LD27"]
	path = five-seconds-LD27
	url = https://github.com/guillaumebrunerie/five-seconds-LD27
[submodule "hide-n-run-LD44"]
	path = hide-n-run-LD44
	url = https://github.com/guillaumebrunerie/hidenrun
